#newTaskBar {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  border: 2px solid #FBDD00;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 62px;
  max-width: 700px;
  background-color: black;
}

#newTaskDesc {
  min-width: 60%;
  margin: 2px;
}

#taskCycle {
  width: 10%;
  min-width: 3rem;
  margin: 2px;
}

.taskButton {
  border: 1px solid #FBDD00;
  display: flex;
  padding: 10px;
  margin: 2px;
}