/* .yellowBox {
  border: 2px solid #FBDD00;
  max-width: 80vw;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;  
}

.currentTask {
  padding: 0.3rem;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.currentTimeTitle {
  color: #E9A200;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.currentTime {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.buttonSet {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.timerButton {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid #FBDD00;
  border-radius: 3px;
}

.timerButton:hover {
  border: 1px solid black;
  color: #E9A200;
}  */

/* @media screen and (min-width: 600px) {
  .yellowBox {
    max-width: 550px;
  }
} */