.modalBox {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.dialogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3rem 3rem 2rem;
  border: 1px solid #FBDD00;
  background-color: black;
}

.okButton {
  border: 1px solid #FBDD00;
  margin-top: 0.8rem;
  padding: 0.5rem 0;
  width: 20%;
  border-radius: 3px;
}

.okButton:hover {
  border: 1px solid black;
  color: #E9A200;
}

.boxText {
  padding: 0.5rem;
}

.modalBox1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.dialogBox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
  border: 1px solid #FBDD00;
  width: 300px;
  height: 100px;
  background-color: black;
  margin: auto;
}

.okButton1 {
  border: 1px solid #FBDD00;
  width: 4rem;
  padding: 0.3rem 0;
  margin: 0 0.5rem;
  border-radius: 3px;
}

.okButton1:hover {
  border: 1px solid black;
  color: #E9A200;
}

@media screen and (min-width: 700px) {
  .dialogBox {
    max-width: 700px;
  }
}

@media screen and (max-height: 375px ) {
  .dialogBox {
    padding: 2rem;
  }
}