#main {
  height: 100vh;
  width: 100vw;
  color: white;
}

#trackerTitle {
  padding-top: 2rem;
  color: #B32800;
  font-size: 2rem;
  font-weight: bold;
  font-family: Papyrus, Fantasy;
}

.centerText {
  text-align: center;
}

.orange {
  color: #E9A200;
}

.font1 {
  font-size: 2rem;
  font-weight: bold;
}

#yellowBox {
  border: 2px solid #FBDD00;
  max-width: 80vw;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem auto;
}


.timerButton {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #FBDD00;
  border-radius: 3px;
}

.hoverItem:hover {
  color: #E9A200;
}

.timerButton:hover {
  border: 1px solid black;
}

.posAbsolute {
  position: absolute;
  top: 0;
}

/*************************************************************************/
.modalBox {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.8);
}

.dialogBox{
  position: relative;
  z-index: 5;
  top: 10rem;
  height: 50vh;
  border: 1px solid #FBDD00;
  background-color: black;
  padding: 2rem;
}

/*************************************************************************/
/* FLEXBOX */
.flexBox {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexJustifySpaceAround {
  justify-content: space-around;
}