#main {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
}

#trackerTitle {
  padding-top: 2rem;
  color: #B32800;
  font-size: 2rem;
  font-weight: bold;
  font-family: Papyrus, Fantasy;
  text-align: center;
}

@media screen and (min-height: 375px) {
  #main{
    overflow: auto;
  }
}