/* .taskList {
  margin: 0 auto;
  max-width: 700px;
  height: 42vh;
  overflow: auto;
}

.taskList ul {
  list-style-type: none;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px dotted gray;
  padding: 0.5rem;
}

.taskItem:hover {
  color: #E9A200;
}

.taskItemSub {
  display: flex;
  align-items: baseline;
}

.taskItemButton {
  padding: 0 0.5rem;
}

.taskStats {
  padding: 0 0.5rem;
  white-space: nowrap;
}

.modalBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
  
.dialogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #FBDD00;
  background-color: black;
  min-height: 20vh;
  max-width: 400px;
  margin: auto;
}
  
.okButton {
  border: 1px solid #FBDD00;
  margin: 0.8rem 0.3rem 0;
  padding: 0.5rem 0;
  min-width: 5rem;
  border-radius: 3px;
}

.okButton:hover {
  border: 1px solid black;
  color: #E9A200;
}

.boxText {
  padding: 0.5rem;
} */

@media screen and (max-height: 375px) {
    .taskList {
        margin-bottom: 70px;
    }

    .dialogBox {
      height: auto;
    }
}