.modalBox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    
.dialogBox {
  padding: 1.8rem;
  border: 1px solid #FBDD00;
  background-color: black;
}

.flexBox {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: baseline;
}

.flexBox1 {
  display: flex;
  justify-content: center;
}

#input1 {
  width: 100%;
  height: 2.2rem;
}

#input2 {
  width: 5rem;
  height: 2.2rem;
}

.input3 {
  width: 3rem;
  height: 2.2rem;
  margin: 0 0.3rem;
}
  
.okButton {
  border: 1px solid #FBDD00;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  min-width: 5rem;
  border-radius: 3px;
}

.okButton:hover {
  border: 1px solid black;
  color: #E9A200;
}

@media screen and (min-width: 700px) {
  .dialogBox {
      margin: auto;
  }
}